In [1]:
import sqlite3

In [4]:
con = sqlite3.Connection('sample.db')

In [5]:
cur = con.cursor()

In [7]:
cur.execute("select * from sqlite_schema")
cur.fetchall()

[('table', 'test', 'test', 2, 'CREATE TABLE test(id,name)')]

In [1]:
list1 = [1,2,3,4,5,6]

In [2]:
list1[:]

[1, 2, 3, 4, 5, 6]

In [3]:
list1[:-1]

[1, 2, 3, 4, 5]

In [7]:
friends=['Z','B','A','D']

In [5]:
friends.sort()

In [8]:
friends

['Z', 'B', 'A', 'D']

In [9]:
sorted(friends)

['A', 'B', 'D', 'Z']

In [10]:
sorted('ZBAD')

['A', 'B', 'D', 'Z']

In [41]:
friends=['john','john','lisa','john','kid','john']

In [12]:
friends.remove('john')

In [40]:
friends

['lisa', 'kid', 'john']

In [42]:
for i in friends:
    print('length: ',len(friends), friends)
    friends.remove('john')

length:  6 ['john', 'john', 'lisa', 'john', 'kid', 'john']
length:  5 ['john', 'lisa', 'john', 'kid', 'john']
length:  4 ['lisa', 'john', 'kid', 'john']

In [43]:
a = [1,2,3]
b=a

In [44]:
b is a

True

In [45]:
a.append(4)

In [46]:
b

[1, 2, 3, 4]

This was just creating another identifier

In [47]:
c=a.copy()

In [48]:
c==a

True

In [49]:
c is a

False

In [50]:
a.append(5)

In [51]:
c

[1, 2, 3, 4]

In [52]:
a

[1, 2, 3, 4, 5]

This was shallow copy

In [67]:
d=[[1,2,3],[2,4,6],[3,6,9]]

In [68]:
e=d.copy()

In [69]:
d

[[1, 2, 3], [2, 4, 6], [3, 6, 9]]

In [70]:
e

[[1, 2, 3], [2, 4, 6], [3, 6, 9]]

In [71]:
d[2].append(10)

In [72]:
d

[[1, 2, 3], [2, 4, 6], [3, 6, 9, 10]]

In [73]:
e

[[1, 2, 3], [2, 4, 6], [3, 6, 9, 10]]

e changed because it was still a shallow copy

In [74]:
from copy import deepcopy

In [75]:
f=deepcopy(d)

In [76]:
d[2].append(11)

In [77]:
d

[[1, 2, 3], [2, 4, 6], [3, 6, 9, 10, 11]]

In [78]:
e

[[1, 2, 3], [2, 4, 6], [3, 6, 9, 10, 11]]

In [79]:
f

[[1, 2, 3], [2, 4, 6], [3, 6, 9, 10]]

f didn't change coz it was deepcopy

In [114]:
name = [ "Manjeet", "Nikhil", "Shambhavi", "Astha" ]
roll_no = [ 4, 1, 3, 2 ]
marks = [ 40, 50, 60, 70 ]

In [115]:
zipped = zip(name,roll_no,marks)

In [116]:
zipped

In [117]:
name.append('Trupti')

In [118]:
roll_no.append(5)

In [119]:
marks.append(100)

In [120]:
print(name)
print(roll_no)
print(marks)

['Manjeet', 'Nikhil', 'Shambhavi', 'Astha', 'Trupti']
[4, 1, 3, 2, 5]
[40, 50, 60, 70, 100]

In [121]:
for element in zipped:
    print(element)

('Manjeet', 4, 40)
('Nikhil', 1, 50)
('Shambhavi', 3, 60)
('Astha', 2, 70)
('Trupti', 5, 100)

In [122]:
list1 = [12.9,10,34.0,67,87,10.8,34,77.0,60,45.87,18]

In [123]:
list2 = [num for num in list1 if not isinstance(num,float)]
list2

[10, 67, 87, 34, 60, 18]

In [124]:
from datetime import date

In [125]:
date(2012,7,23)

datetime.date(2012, 7, 23)

In [172]:
print(date(2012,7,23).strftime('%Y-%m-%d'))

2012-07-23

Since list is mutable, and we can extend or remove it is internally stored as a dynamic array which means it almost always uses more data than the actual number of elements for easy addition of more elements. 
Whereas for Tuples, the length is fixed so don't need dynamic array so that it uses a fixed amount of memory.
So we can say Tuples also provide better memory efficiency

In [128]:
id(list1)

2760940931712

In [132]:
(3,2,'d')<=(3,2,'b')

False

In [133]:
{1,2,(3,4)}

{(3, 4), 1, 2}

In [155]:
set1 = {'red','green','blue'}

In [156]:
set2 = {'yellow','blue'}

In [148]:
set1.update(set2)

In [146]:
3>4 | 3==3

False

In [149]:
set1

{'blue', 'green', 'red', 'yellow'}

In [154]:
set3 = {'yellow','black','blue'}

In [157]:
print('set1',set1)
print('set2',set2)
print('set3',set3)

set1 {'red', 'blue', 'green'}
set2 {'yellow', 'blue'}
set3 {'black', 'yellow', 'blue'}

In [158]:
set1 | set2 | set3

{'black', 'blue', 'green', 'red', 'yellow'}

In [159]:
set1 & set2 & set3

{'blue'}

In [160]:
set1^set2^set3

{'black', 'blue', 'green', 'red'}

In [162]:
set1.discard('Ayan')

In [163]:
dict1 = {'name':'Ayan',
         'id':1,
         'surname': 'Agrawal',
         1:'Hello'}

In [165]:
dict1.pop('id')

1

In [166]:
dict1

{'name': 'Ayan', 'surname': 'Agrawal', 1: 'Hello'}

In [167]:
dict1.popitem()

(1, 'Hello')

In [168]:
dict1.items()

dict_items([('name', 'Ayan'), ('surname', 'Agrawal')])

In [173]:
mydict = {'d' : 45, 'a' : 10, 'z' : 23, 'b' : 1, 'c' : 22}

In [182]:
mylist = sorted([(tup[1],tup[0]) for tup in mydict.items()])

In [183]:
mylist

[(1, 'b'), (10, 'a'), (22, 'c'), (23, 'z'), (45, 'd')]

In [185]:
sorteddict={}

In [186]:
for k,v in mylist:
    sorteddict[k]=v

sorteddict

{1: 'b', 10: 'a', 22: 'c', 23: 'z', 45: 'd'}

In [181]:
progLang = {
    "Py": {
        "year": 1991,
        "creator": "G. van Rossum",
    },
    "Java": {
        "year": 1995,
        "creator": "J. Gosling",
    },
    "C#": {
        "year": 2000,
        "creator": "Microsoft",
    }
}

In [193]:
fp = open('fruits.txt')

In [194]:
lines = fp.readlines()

In [195]:
lines

['orange mango cherry\n',
 'cherry watermelon banana\n',
 'mango orange\n',
 'cherry\n',
 'cherry watermelon banana\n',
 'mango orange']

In [ ]:
lines[0].split()

In [196]:
my_dict={'name': 'John', 
         'code': 4001, 
         'city': 'delhi', 
         'dept': 'IT',
         'exp': 5,
         'area': 'West',
        }

keyList = ['code','exp', 'area']

# Delete all the dictionary items which are in the keyList

#my_dict = {k:v   for k,v in my_dict.items()  if k not in keyList}

for i in keyList:
    if i in my_dict:
        del my_dict[i]

my_dict

{'name': 'John', 'city': 'delhi', 'dept': 'IT'}

In [197]:
'Ayan Agrawal'.split()

['Ayan', 'Agrawal']

In [204]:
def greet(a:str):
    '''Hello
    bro'''
    print('Hello World')

In [203]:
?greet

Signature: greet()
Docstring:
Hello
bro
File:      c:\users\ayana\appdata\local\temp\ipykernel_24632\3864469008.py
Type:      function

In [205]:
greet(9)

Hello World

In [212]:
# write a function to make sum of numbers
# we r not sure how many numbers we gonna pass while calling the function

def sumNumbers(*val):
    #print(type(val))
    s = 0
    for i in val:
        s+=i
    return s
    return val

print(sumNumbers(4,2,3,7))  # 4 argu
print(sumNumbers(1,9))     # 2 argu
l1 = [4,2,3,5]
print(sumNumbers(l1))

16
10

TypeError: unsupported operand type(s) for +=: 'int' and 'list'

In [213]:
print(type(sumNumbers))

<class 'function'>